/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

body, body * {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***
  --引导页--
*/
.bootContainer {
    transition: 300ms;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7.5rem;
    margin: auto;
    background-color: #015884;
    z-index: 999999;
    overflow: hidden;
    font-size: 0;
}

.bootContainer .back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/back.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.bootContainer .logo {
    position: absolute;
    top: 2.06rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 2.56rem;
}

.bootContainer .logo img {
    width: 100%;
}

.bootContainer .text {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 2.2rem;
    top: 1.2rem;
    bottom: 0;
    left: 0.1rem;
    margin: auto;
}

.bootContainer .text img {
    height: 100%;
}

.bootContainer .start {
    z-index: 99;
    display: none;
    position: absolute;
    bottom: 1.9rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 2.5rem;
    height: 0.7rem;
    border-radius: 0.35rem;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #4f98e5;
    font-size: 0.34rem;
    box-shadow: 2px 2px 8px #666666;
}

.loadingContainer {
    transition: 300ms;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7.5rem;
    margin: auto;
    background-color: #ffffff;
    z-index: 9999999;
    overflow: hidden;
    text-align: center;
    font-size: 0;
}

.loadingContainer > .dog {
    margin-top: 3rem;
}

.loadingContainer > .loadinganim {
    margin-top: 1rem;
}